
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myExpenseLabel">Create or edit a Expense</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.expense.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.expense.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.expense.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.expense.date" is-open="vm.datePickerOpenStatus.date"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_value">Value</label>
            <input type="number" class="form-control" name="value" id="field_value"
                    ng-model="vm.expense.value"
                    required />
            <div ng-show="editForm.value.$invalid">
                <p class="help-block"
                    ng-show="editForm.value.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.value.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setReceipt($file, vm.expense)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_receipt">Receipt</label>
            <div>
                <img data-ng-src="{{'data:' + vm.expense.receiptContentType + ';base64,' + vm.expense.receipt}}" style="max-height: 100px;" ng-if="vm.expense.receipt"/>
                <div ng-if="vm.expense.receipt" class="help-block clearfix">
                    <span class="pull-left">{{vm.expense.receiptContentType}}, {{vm.byteSize(vm.expense.receipt)}}</span>
                    <button type="button" ng-click="vm.expense.receipt=null;vm.expense.receiptContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setReceipt($file, vm.expense)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="receipt" id="field_receipt"
                    ng-model="vm.expense.receipt"
                     />
            <input type="hidden" class="form-control" name="receiptContentType" id="field_receiptContentType"
                    ng-model="vm.expense.receiptContentType" />
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.expense.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
